<h1>Create new Store</h1>

<form name="form" ng-submit="vm.createStore()">
	<label>Name: </label>
	<input ng-model="vm.newStore.name" name="name" required="required">
	<div ng-messages="form.name.$error" ng-if="form.name.$touched">
  		<div ng-message="required">Name is required!</div>
	</div>

	<br>

	<label for="address">Address:</label>
	<input ng-model="vm.newStore.address" type="text" name="address"><br>

	<label for="location">Location:</label>
	<input ng-model="vm.newStore.location" type="text" name="location">
	
	<br>

	<label for="email">Email:</label>
	<input ng-model="vm.newStore.email" type="text" name="email"><br>

	<label for="phone">Phone:</label>
	<input ng-model="vm.newStore.phone" type="text" name="phone">
	<br>

	<label for="country">Country:</label>
	<input ng-model="vm.newStore.country" type="text" name="country"><br>
	
	<input type="submit" value="Create new Store">
</form>

